
<style>
  tr th, tr td {
      padding-right: 8px;
  }
  tr th:last-child, tr td:last-child{
      padding-right: 0;
  }
  .meta-icon {
      height: 43px;
      width: 43px;
      margin-right: 8px;
  }

  .trmnl .title_bar .image {
      flex-shrink: 0;
  }
</style>

<svg style="display:none">
    <symbol id="escalator" viewBox="0 0 512 512">
        <path d="m184.99 95.616c0-18.144 14.72-32.864 32.864-32.864s32.864 14.72 32.864 32.864c0 18.144-14.72 32.864-32.864 32.864s-32.864-14.72-32.864-32.864zm319.01 65.664c0 38.08-32.96 64.48-56.288 64.48h-48.416c-7.2 0-9.536 1.152-13.728 4.864l-196 195.46c-15.808 14.88-34.944 20.928-50.752 20.928h-66.944c-41.184 0-63.872-36.416-63.872-65.248s22.688-62.816 60.512-62.816h37.6c11.392 0 12.096-0.256 17.888-6.048l61.472-61.472h-0.128v-84.48c0-43.648 65.056-44.128 65.056 0v20.704l70.72-70.656c12.128-12.128 32.448-18.592 48.256-18.592h76.416c24.992 0.096 58.208 25.216 58.208 62.88zm-33.216-0.48c0-11.168-11.264-29.856-28-29.856h-68.768c-14.048 0-22.208 1.024-30.464 9.28l-200.86 200.86c-7.424 7.424-16 11.168-29.024 11.168h-44.672c-14.56 0-28.608 10.432-28.608 28.992 0 18.592 14.752 32.736 31.488 32.736h65.152c13.024 0 23.168-3.168 31.136-11.168l197.54-197.54c10.08-10.08 17.824-12.544 35.328-12.544h41.344c20.416 0.032 28.416-20.768 28.416-31.936z"/>
    </symbol>
    <symbol id="elevator" viewBox="0 0 512 512">
        <path d="m326.51 0-7.6699 7.6699-47.734 47.727c-4.234 4.242-4.234 11.114 0 15.348 4.241 4.234 11.114 4.234 15.348 0l29.211-29.211v65.672c0 5.992 4.8547 10.85 10.846 10.85 5.992 0 10.846-4.8566 10.846-10.85v-65.672l29.219 29.211c2.114 2.122 4.8879 3.1777 7.6699 3.1777 2.774 0 5.5589-1.0557 7.6719-3.1777 4.242-4.234 4.242-11.106 0-15.348l-47.736-47.727-7.6699-7.6699zm-135.96 4.4922c-5.992 0-10.848 4.8547-10.848 10.848v65.672l-29.211-29.211c-4.234-4.234-11.105-4.234-15.348 0-4.234 4.234-4.234 11.106 0 15.34l55.404 55.404 55.406-55.406c4.234-4.234 4.234-11.104 0-15.338s-11.106-4.234-15.34 0l-29.219 29.209v-65.67c0-5.992-4.8537-10.848-10.846-10.848zm-74.326 130.29c-21.485 0-38.961 17.475-38.961 38.959v299.3c0 21.485 17.476 38.961 38.961 38.961h279.55c21.492 0 38.959-17.476 38.959-38.961v-299.3c0-21.484-17.467-38.959-38.959-38.959h-279.55zm-0.00195 24.588h279.55c7.927 0 14.371 6.4441 14.371 14.371v299.3h0.00195c0 7.928-6.4441 14.371-14.371 14.371h-49.006c0.064-0.491 0.28516-0.91974 0.28516-1.4277l4.2734-158.92 3.9199 42.686c0.218 4.589 4.1134 8.1313 8.6934 7.9043 4.581-0.217 8.1223-4.1053 7.9043-8.6953v-70.275c0-29.412-35.59-30.855-50.752-30.855-15.154 0-50.744 1.4435-50.744 30.855v70.275c-0.218 4.589 3.3233 8.4773 7.9043 8.6953 4.581 0.226 8.4674-3.3153 8.6934-7.9043l3.9199-42.686 4.2656 158.92c0 0.508 0.22202 0.93674 0.29102 1.4277h-78.832c0.069-0.491 0.28906-0.91974 0.28906-1.4277l4.2734-158.92 3.9121 42.686c0.217 4.589 4.1143 8.1313 8.6953 7.9043 4.581-0.217 8.1203-4.1053 7.9023-8.6953v-70.275c0-29.412-35.588-30.855-50.742-30.855-15.154 0-50.752 1.4435-50.752 30.855v70.275c-0.218 4.589 3.3214 8.4773 7.9024 8.6953 4.581 0.226 8.4754-3.3153 8.6934-7.9043l3.9199-42.686 4.2754 158.92c0 0.508 0.22115 0.93674 0.28515 1.4277h-49.021c-7.92 0-14.371-6.4431-14.371-14.371v-299.3c0-7.927 6.4511-14.371 14.371-14.371zm74.697 60.527c-11.799 0-21.355 9.5557-21.355 21.348 0 11.782 9.5565 21.338 21.355 21.338 11.783 0 21.34-9.5559 21.34-21.338-1e-3 -11.791-9.5578-21.348-21.34-21.348zm130.17 0c-11.783 0-21.35 9.5557-21.35 21.348 0 11.782 9.5666 21.338 21.35 21.338 11.79 0 21.346-9.5559 21.346-21.338 0-11.791-9.5557-21.348-21.346-21.348zm-130.17 168.38 4.2969 97.705c0 0.508 0.22211 0.93674 0.28711 1.4277h-9.1777c0.065-0.491 0.28516-0.91974 0.28516-1.4277l4.3086-97.705zm130.17 0 4.2988 97.705c0 0.508 0.22301 0.93674 0.29101 1.4277h-9.1738c0.064-0.491 0.28711-0.91974 0.28711-1.4277l4.2969-97.705z"/>
    </symbol>
</svg>

{% template title_bar %}
<div class="title_bar">
  <svg class="image image-stroke" viewBox="0 0 512 512"><use href="#escalator"/></svg>
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">{{ data.lastUpdateTime | date: "%s" | plus: trmnl.user.utc_offset | date: "%d.%m.%Y %H:%M"}}</span>
</div>
{% endtemplate %}

{% template content %}

{% assign elevators = data.circulationElements | where: "isElevator", true %}
{% assign escalators = data.circulationElements | where: "isEscalator", true %}

{% assign outOfOrderElevators = elevators | where: "isOutOfOrder", true %}
{% assign outOfOrderEscalators = escalators | where: "isOutOfOrder", true %}

{% assign outOfOrderByStationName = data.circulationElements | where: "isOutOfOrder", true | group_by: "stationName" %}

{%  if size != "full" %}
  {% assign extraMetaTitleClass = "title--small" %}
{% endif %}

{%  if size == "full" %}
  {% assign extraMetaClass = "mt--4" %}
{% endif %}

<div class="flex flex--row flex--stretch-x gap {{ extraMetaClass }}" data-overflow="true">
  <div class="item">
    <div class="meta"></div><svg class="meta-icon"><use href="#elevator"/></svg>
    <div class="content">
      <span class="title {{ extraMetaTitleClass }}">{{ outOfOrderElevators.size }}/{{ elevators.size }} Aufzüge</span>
      <span class="description">außer Betrieb</span>
    </div>
  </div>
  <div class="item">
    <div class="meta"></div><svg class="meta-icon"><use href="#escalator"/></svg>
    <div class="content">
      <span class="title {{ extraMetaTitleClass }}">{{ outOfOrderEscalators.size }}/{{ escalators.size }} Rolltreppen</span>
      <span class="description">außer Betrieb</span>
    </div>
  </div>
</div>

<div class="flex--row flex--center grow" style="overflow:hidden">
  {% if outOfOrderElevators.size != 0 or outOfOrderEscalators.size != 0 %}
    {% if size == "quadrant" %}
      <span class="description">Ausfälle bei:<br>
      {% for station in outOfOrderByStationName %}
        {% assign stationName = station[0] %}
        {% assign items = station[1] %}
        {% if forloop.last %}
          {{ stationName }}
        {% else %}
          {{ stationName }},
        {% endif %}
      {% endfor %}
      </span>
    {% else %}
      <table class="table table--small" data-table-limit="true">
        <thead>
          <tr>
            <th><span class="title title--small">Station</span></th>
            <th><span class="title title--small">Typ</span></th>
            <th><span class="title title--small">Status</span></th>
            <th><span class="title title--small">Verbindung</span></th>
          </tr>
        </thead>
        <tbody>
          {% for item in data.circulationElements %}
            {% if item.isOutOfOrder %}
            <tr>
              <td><span class="label label--small">{{ item.stationName }}</span></td>
              <td><span class="label label--small">{{ item.title }}</span></td>
              <td><span class="label label--small"><svg class="mt--1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></span></td>
              <td><span class="label label--small">{{ item.linesList | join: " - "}}</span></td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
  {% else %}
  <span class="label">Alle Aufzüge und Rolltreppen sind funktionstüchtig.</span>
  {% endif %}
</div>

{% endtemplate %}
